<html>
<head>
<meta charset="utf-8">
	<title>Главная страница - страница обо мне</title>
</head>
<body>
<center><h1>Авиация</h1></center>
Красивые фото самолетов
<br/><br/>
<center><img alt="Самолет" 
src="scale_1200.jfif">
</center>
<br/><br/>
<font style="color:green">Этот текст зеленый!!!&&&&</font>
<br/><br/>
<b>Hello! Жирный текст</b>
<br/><br/>
Server Host Name : {{ ansible_hostname }} <br>
Server OS Family : {{ ansible_os_family }} <br>
<hr>
IP Address WEB Server 
<a href={{ ansible_all_ipv4_addresses }}>
{{ ansible_all_ipv4_addresses }}</a>
<br/><br/>
</body>
</html>
