<html>
<head>
<meta charset="utf-8">
	<title>Главная страница - страница обо мне</title>
</head>
<body>
<center><h1>Авиация</h1></center>
Красивые фото самолетов
<br/><br/>
<center><img alt="Два самолета" 
src="scale_1200.jfif">
</center>
<br/><br/>
<font style="color:rad">Этот текст Красный</font>
<br/><br/>
<b>Просто пример жирного ТЕКСТА</b>
<br/><br/>
Server Host Name : {{ ansible_hostname }} <br>
Server OS Family : {{ ansible_os_family }} <br>
<hr>
Этот материал был написан благодаря сайту 
<a href=http://zarabotat-na-sajte.ru/>
http://zarabotat-na-sajte.ru/</a>
<br/><br/>
</body>
</html>
